 /* MEXER NOS CARD CORRETAMENTE PARA ARRUMAR ALINHAMENTO */
.cardPretoBase {
  background-color: white;
  border: 1px blue;
  border-radius: 1em;
  padding: 2.3em;
  font-size: 0.6em;
  text-align: left;
  margin: 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: black;
}

/* .cardPretoBase:hover {
  background: white;
  height: auto;
  margin: 20px auto;
  transition: 500ms linear;
  cursor: pointer;
  color: black;
  border: 1px solid #a367eb;
} */

.menor {
  width: 100%;
  margin-bottom: 10px;
}

.maior {
  width: 100%;
  margin: 0%;
}

/* .menor:hover,
.maior:hover {
  background: white;
  height: auto;
  margin: 20px auto;
  transition: 500ms linear;
  cursor: pointer;
  color: black;
  border: 1px solid #a367eb;
} */

 /* MEXER NOS CARD CORRETAMENTE PARA ARRUMAR ALINHAMENTO */
.menor:hover, 
.maior:hover {
  background-color: black;
  border: 1px #a367eb solid;
  border-radius: 1em;
  padding: 2.3em;
  font-size: 0.6em;
  text-align: left;
  margin: 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  cursor: pointer;
  transition: 1s;

}

.cardPretoForms {
  width: 65%;
  margin: auto;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  border: 2px solid #66c2fa;
  background: rgba(20, 19, 1, 0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  margin-bottom: 20em;
}
