.logoKathonLogin {
    width: 12em;
    height: 12em;

}

.tituloCardLogin {
    color: #ffffff;
    font-size: 5em;
}

.divisorLogin {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    color: #FFF;
    font-size: 1.5em;
}

.divisorLogin hr {
    margin-top: 1.5em;
    margin: 2em;
}

.esqueceuSenha {
    cursor: pointer;
    align-self: flex-end;
    margin-right: 5em;
    color: rgba(240, 240, 240, 0.80);
    text-align: end;
    font-weight: normal;
    font-size: 1.7em;
    transition: 0.5s;
    margin-top: 0.8em;
    color: #FFF;
    font-weight: bold;
}

.esqueceuSenha:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);

}

.possuiConta {
    align-self: center;
    color: rgba(240, 240, 240, 0.80);
    text-align: center;
    font-weight: normal;
    font-size: 1.7em;
    transition: 0.5s;
    margin-top: 0.8em;
    width: 39%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.possuiConta span {
    color: #06F8FA;
    font-weight: bold;

}

.possuiConta span:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #06F8FA;
}

.LinkEntry {
    text-decoration: none;
}

/*Medida Mobile*/
@media (max-width: 420px) {
    .logoKathonLogin {
        width: 5em;
        height: 5em;
    }


    .tituloCardLogin {
        color: #ffffff;
        font-size: 3em;
    }

    .esqueceuSenha {
        color: rgba(240, 240, 240, 0.80);
        font-weight: normal;
        font-size: 1.5em;
        transition: 0.5s;
        color: #FFF;
        font-weight: bold;
        width: 100%;
        margin: auto;
        margin-bottom: 0.7em;
        margin-top: 0.1em;

    }


    .divisorLogin {        
        width: 100%;
    }

    .possuiConta {
        width: 100%;
        font-size: 1.5em;
    }

}

/* Medida Tablet */
@media only screen and (min-width: 421px) {
    @media only screen and (max-width: 930px) {
        .esqueceuSenha {
            margin-bottom: 2em;
        }



        .possuiConta {
            width: 50%;
        }
    }
}