.beneficios {
    width: 90%;
    height: 55px;
    border-radius: 36px;
    background: rgba(20, 19, 1, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
    margin:auto;
    margin-top:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficios p{
    font-size: 20px;
    line-height:1;
    
}

.bordergreen{
   border: 2px #13ECAB solid;
}

.borderpink{
    border: 2px #C24361 solid;
}

.borderblue{
    border: 2px solid #66C2FA;
}


/*Celular*/

@media (max-width: 450px){
.beneficios {
    width: 90%;
    height: 64px;
    border-radius: 36px;
    background: rgba(20, 19, 1, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
    margin:auto;
    margin-top:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficios p{
    font-size: 21px;
    line-height:1;
    
}



}





/* Tablets */

@media (min-width:768px) and (max-width:1024px){
    .beneficios{
        width:50vh;
        height:8vh;
    }

    .beneficios p{
        font-size: 30px;
        line-height:1;
    }

}


@media(width:1100px){

    .beneficios{
        width:90vh;
        height:11vh;
    }

    .beneficios p{
        font-size: 30px;
        line-height:1;
    }

 }