.HeaderComunidade {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 18em;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background-color: #0c0c0c;
    border: 2px #7400b7 solid;
    opacity: 90%;
    border-radius: 0px 20px 20px 0px;
}

.LogoKathon{
    width: 70%;
    height: 30px;
    margin-top: 20px;
}

.Links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    gap: 5vh;
}

.Links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    gap: 1vh;
    height: 31px;
    font-family: "DM Sans";
    /* border: 2px #7400b7 solid; */
}

.ContainerLinks{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3vh;
    padding-left: 5vh;

}

.Icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5vh;
    width: 20px; 
    height: 20px;
}

.BarraBottom{
    width: 65%;
    height: 0.5vh;
    margin-bottom: 2vh;
}
.containerProfile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;
    color: #fff;
    width: 100%;
}

.ProfileNav{
    width: 52px;
    height: 51px;
}

.AdiconalButton{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 1vh;
}

.Dadosnav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.FeedNav{
    display: flex;
}

.IconPlay {
    position: absolute;
    z-index: 9999;
    top: 20%;
    transform: translateY(-50%);
    left: 18em;
}

button{
    background: none;
}

.ButtonIconPlay:hover{
    cursor: pointer;
    transform: scale(1);
}

.FeedNav {
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.FeedNav.hidden {
    position: absolute;
    transform: translateX(-100%);
}

.FeedNav.visible {
    position: relative;
    transform: translateX(0);
}

.rotate_180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    transform-origin: center;
}

.rotate_180Open {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    transform-origin: center;
}