.formBase {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;

}

.formsLogin {

}


/* Medida Tablet */
@media only screen and (min-width: 420px) {
    @media only screen and (max-width: 800px) {
      
    }
  }