.home {
    width: 100%;
    margin: auto;
}
.homeTitulo {
    margin: 3em auto 10px auto;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    width: 65%;
}
/* <FontAwesomeIcon icon="fa-solid fa-circle-arrow-right" rotation={90} /> */
.homeTitulo span {
    background-color: #3b5871;
    padding: 0em 0.1em 0em 0.1em;

}

.descTitulo {
    color: #fff;
    text-align: center;
    width: 85%;
    margin: auto;
    font-size: 1.5em;
    font-weight: normal;
}