.botaohome {
  border: 2px white solid;
  border-radius: 0.8em;
  display: flex;
  justify-content: center;
  padding: 0.4em;
  align-items: center;
  width: 100%;
  margin: 0.5em;
  font-size: 0.8em;
}

.iconCardSecundario {
  border-radius: 24.36px;
  border: 3.654px solid var(--Terciria-III, #141301);
  background: var(--Terciria-II, #f0f0f0);
  color: #000000;
  width: 35%;
  height: 2.5em;
}

.iconCardPreto {
  width: 40%;
  color: #a367eb;
  border-radius: 36px;
  background: rgba(240, 240, 240, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  font-size: 20px;
}

.buttonLoginConta {
  cursor: pointer;
  border-radius: 15px;
  background: rgba(240, 240, 240, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  padding: 0.5em 0.5em 0.5em 1em;
  width: 75%;
  font-size: 2.5em;
  margin-top: 1em;
  color: #fff;
  border: none;
  transition: 0.3s;
}

.buttonLoginConta:hover {
  transform: scale(1.1);
}

/* TESTE */

.carrossel {
  text-align: center;
  margin: 20px 0;
}

.carrossel h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carrosselImagemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* Ajuste conforme necessário */
  overflow: hidden;
}

.carrosselImagem {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* Ajusta a imagem para caber no contêiner */
}

/*Medida Mobile*/
@media only screen and (max-width: 420px) {
  .buttonLoginConta {
    width: 100%;
    padding: 0.3em 0em 0.3em 0em;
    font-size: 2em;
    margin-top: 0.5em;
  }

}

/* Medida Tablet */
@media only screen and (min-width: 421px) {
  @media only screen and (max-width: 800px) {
    .buttonLoginConta {
      width: 90%;
    }
  }
}