.container_premios {
    border-radius: 36px;
    border: 2px solid #fff;
    background: rgba(20, 19, 1, 0.8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
    width: 60%;
    margin-top: 50px;
    height: 275vh;
  }

.title_premios{
    color:  #F0F0F0;
    font-family: "DM Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text_premios{
    color: rgba(240, 240, 240, 0.90);
    font-family: "DM Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.descri_premios{
    color: rgba(240, 240, 240, 0.90);
    font-family: "DM Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}