.nivelDesafio {
  display: flex;
  justify-content: center;
  gap: 7%;
  width: 100%;
}

.caixaDesafio {
  border-radius: 36px;
  border: 2px solid #66c2fa;
  background: rgba(20, 19, 1, 0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  width: 90%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
}

.titleDesafio {
  h1 {
    color: #fff;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
  }
  span {
    color: #06f8fa;
    text-align: center;
    font-family: "DM Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 80% */
  }
  text-align: center;
  width: 100%;
  margin-top: 10vh;
}

.desafio1 {
  background-image: url(../../assets/imgs/mountains.png);
  background-size: cover;
  width: 26%;
  border-radius: 36px;
  height: 46vh;
  background-position: center;
  display: flex;
  align-items: end;
  margin-top: 50px;
  p {
    color: white;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0.8em;
    width: 10%;
    margin-bottom: 15px;
  }
}

.desafio2 {
  background-image: url(../../assets/imgs/place.png);
  background-size: cover;
  width: 26%;
  border-radius: 36px;
  height: 46vh;
  background-position: center;
  display: flex;
  align-items: end;
  margin-top: 50px;
  p {
    color: white;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0.8em;
    width: 10%;
    margin-bottom: 15px;
  }
}

.desafio3 {
  background-image: url(../../assets/imgs/celeste.png);
  background-size: cover;
  width: 26%;
  border-radius: 36px;
  height: 46vh;
  background-position: center;
  display: flex;
  align-items: end;
  margin-top: 50px;
  p {
    color: white;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0.8em;
    width: 10%;
    margin-bottom: 15px;
  }
}

.nivels {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  width: 100%;
}

.infosDesafios {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 0.5em;
  margin-bottom: 20vh;
}

.titleIniciante {
  color: #13ecab;
  font-size: 40px;
  width: 0.1%;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.titleIntermediario {
  color: #48bfe3;
  font-size: 40px;
  width: 0.1%;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.titleAvancado {
  color: #c24361;
  font-size: 40px;
  width: 0.1%;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.nivelIntermediario {
  margin-left: 60px;
}

.nivelIniciante {
  margin-left: 30px;
}

.desafio1:hover,
.desafio2:hover,
.desafio3:hover {
  transition: 1s;
  transform: scale(1.05);
  cursor: pointer;
}
