.LinkComponent {
    text-decoration: none;
    color: #fff;
    align-items: center;
    display: contents;
}

.LinkComponent p {
    margin-left: 0.8em;
}


.escolhaCadastro {
    display: contents;
}
