.container{
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 16vh;
    background-color: rgba(0, 0, 0, 0.416);
    display: flex;
    align-items: center;
}

.conteudo{
    height: 84vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 3%;
    z-index: 0;
}

.conteudoLeft{
    width: 55%;
    height: 72vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cardsMenores{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 5%;
}

.cardUm{
    width: 49%;
    height: 28vh;
    background-color: #000000;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.cardDois{
    width: 48%;
    height: 28vh;
    background-color: #000000;
    border-radius: 12px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
}

.info{
    width: 63%;
    height: 6rem;
    display: flex;
    gap: 10px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.8s ease;
}

.info .Arrow{
    width: 3rem;
    height: 3rem;
    transform: rotate(320deg);
    color: rgb(255, 255, 255);
}

.info:hover{
    background-color: #A367EB;
}

.cardDois img{
    width: 5rem;
    height: 5rem;
}

.cardDois h1{
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
}

.cardMaior{
    width: 100%;
    height: 42vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7272722c;
    border-radius: 20px;
    position: relative;
    left: 5%;
}


.conteudoRight{
    width: 33%;
    height: 72vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    right: 1%;
    border-radius: 12px;
    background-color: #7272722c;
}

.graficoPizza{
    width: 80%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 2%;
}

.percentual{
    height: 20vh;
    width: 80%;
    border-radius: 12px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    background-color: #7300ff;
}

.percentual h1{
    width: 15%;
}

.percentual .iconAnl{
    width: 5rem;
    height: 5rem;
}

@media only screen and (max-width: 320px){
    .conteudo{
        flex-direction: column;
        width: 90%;
        height: 280vh;
        align-items: center;
    }

    .conteudoLeft{
        width: 100%;
        height: 120vh;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .cardsMenores{
        flex-direction: column;
        width: 100%;
        height: 70vh;
    }

    .cardUm{
        width: 100%;
    }

    .cardDois{
        width: 100%;
        padding: 20px 20px;
    }

    .cardDois h1{
        font-size: 1.2rem;
    }

    .conteudoRight{
        width: 100%;
        height: 120vh;
        position: relative;
        left: 5%;
    }

    .graficoPizza{
        width: 100%;
        height: 55vh;
    }

    .percentual{
        width: 90%;
        height: 30vh;
        gap: 6.5rem;
    }

    .percentual h1{
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 360px){
    .conteudo{
        flex-direction: column;
        height: 220vh;
        width: 100%;
    }

    .conteudoLeft{
        width: 90%;
        height: 120vh;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }

    .cardsMenores{
        flex-direction: column;
        gap: 10%;
    }

    .cardUm{
        width: 100%;
    }

    .cardDois{
        width: 100%;
    }

    .conteudoRight{
        height: 75vh;
        width: 90%;
        left: 5%;
        bottom: 3%;
    }

    .graficoPizza{
        height: 40vh;
        width: 100%;
    }

    .percentual{
        height: 20vh;
        width: 80%;
        gap: 6rem;
    }

    .percentual h1{
        font-size: 1.2rem;
    }
}

@media (min-width: 375px) and (max-width: 767.98px){

    .conteudo{
        flex-direction: column;
        height: 190vh;
        width: 100%;
    }

    .conteudoLeft{
        width: 100%;
        height: 100vh;
        justify-content: space-around;
        flex-direction: column;
    }

    .cardMaior{
        width: 90%;
        height: 13em;
        padding: 10px 10px;
    }

    .cardsMenores{
        flex-direction: column;
        gap: 20px;
    }

    .cardUm{
        width: 90%;
    }

    .cardDois{
        width: 90%;
    }

    .info{
        width: 50%;
        background-color: #7300ff;
    }

    .cardDois .info h1{
        font-size: 1.2rem;
    }

    .info .Arrow{
        visibility: hidden;
        display: none;
    }

    .conteudoRight{
        height: 80vh;
        width: 100%;
        background: none;
    }

    .graficoPizza{
        height: 40vh;
    }

    .percentual h1{
        font-size: 1.2rem;
    }
}