.square{
    width:  30vh;
    height:  7vh;
    border-radius: 36px;
    background: #7400B7;
    margin: 20px;
}

.text{
    color: #FEFADC;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    justify-content: center;
    }


    