.home {
  width: 100%;
  margin: auto;
  background-image: url(../../assets/imgs/fundohome.png);
}

.homeTitulo {
  margin: 1em auto 10px auto;
  text-align: center;
  color: #fff;
  font-size: 2.2em;
  width: 75%;
  padding: 1em;
  font-weight: bold;
}

/* <FontAwesomeIcon icon="fa-solid fa-circle-arrow-right" rotation={90} /> */
.homeTitulo span {
  color: white;
}

.descTitulo {
  color: #fff;
  text-align: center;
  width: 85%;
  margin: auto;
  font-size: 1.5em;
  font-weight: normal;
}

.botoesHome {
  display: flex;
  margin-bottom: 100px;
  width: 50%;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  margin: auto;
}

.cadastrarBtn {
  width: 40%;
}

/*Card preto da home logo no início*/

.cardPretoHome {
  background-color: black;
  width: 70%;
  margin: auto;
  text-align: left;
  padding: 1.5em;
  border-radius: 1.5em;
  border: 1px solid #fff;
  font-size: 1.2em;
  margin-top: 10em;
  position: relative;
  z-index: 1;
}

.cardPretoHome .tituloCardPreto {
  text-align: left;
  background: linear-gradient(90deg, #fff 21.5%, #06f8fa 45%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0em 0em 0.5em 0em;
  font-size: 1.7em;
}

.cardPretoHome .descHackathonHome {
  font-size: 0.7em;
}

.cardPretoHome .descHackathonHome span {
  color: #06f8fa;
  background-clip: text;
  -webkit-background-clip: text;
}

.botoesHome1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 1em;
}

.areaBotao {
  width: 30%;
  display: flex;
  justify-content: end;
  padding-top: 0.5em;
  margin-left: 21em;
}

.homeTitulo2 {
  margin: 3em auto 0em auto;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  width: 75%;
  padding: 1em;
  font-weight: bold;

  span {
    color: var(--Terciria-V, #a367eb);
  }
}

.homeTitulo3 {
  margin: 4em auto 0em auto;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  width: 75%;

  font-weight: bold;

  span {
    color: var(--Terciria-V, #a367eb);
  }
}

.homeTitulo4 {
  margin: 0em auto 1em auto;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  width: 75%;
  padding: 1em;
  font-weight: bold;

  span {
    color: var(--Terciria-V, #a367eb);
  }
}

.homeTitulo5 {
  margin: 3em auto 0em auto;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  width: 75%;
  padding: 1em;
  font-weight: bold;

  span {
    color: var(--Terciria-V, #a367eb);
  }
}


.homeTitulo6 {
  margin: 3em auto 0em auto;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  width: 75%;
  padding: 1em;
  font-weight: bold;

  span {
    color: var(--Terciria-V, #a367eb);
  }
}

.homeTitulo7 {
  margin: 3em auto 0em auto;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  width: 75%;
  padding: 1em;
  font-weight: bold;

  span {
    color: var(--Terciria-V, #a367eb);
  }
}

.iconsCardsCaixas{
  color: #06F8FA;
  margin-right: -1em;
  font-size: 70px;
  margin-top: -10px;
}

.rowHackathonsDisp {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  width: 100%;
}

.tagsHacka {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.people {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.BotaohackaVisaoGeral {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 55vh;
  text-decoration: none;
}

.homeTitulo2 .spanHabilidade {
  color: #06f8fa;
  background-clip: text;
  -webkit-background-clip: text;
}

.coments {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
  gap: 4vh;
}

.planosEmpresariaisDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.planosEmpresariaisDiv img {
  width: 90%;
  height: 90%;
}

.spanHabilidade2 {
  color: #66c2fa;
  background-clip: text;
  -webkit-background-clip: text;
}

.caixaCardsPreta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  height: 80vh;
  flex-wrap: wrap;
  margin: auto;
}

.tituloCardPretoTalentos {
  font-size: 1.5em;
}

.descCardPretoTalentos {
  width: 83%;
}

.listCompanyHome {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  margin-bottom: 5em;
  align-items: center;
  flex-direction: row;
}

.listCompanyHome li img {
  width: 125px;
  height: 125px;
}

.hometitle {
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: 112px;
  margin-bottom: 80px;
  margin-top: 40px;
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

video {
  min-width: 100%;
  min-height: 200%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.empresinhas {
  width: 150px;
  /* Ajuste o tamanho da imagem */
  height: 150px;
  transition: transform 1s ease;
  transform-style: preserve-3d;
  cursor: pointer;
}

.empresinhas:hover {
  transform: rotateY(360deg);
  transition: 1s;
}

.caixaplanos {
  margin: auto;
  display: flex;
  width: 85%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid #48bfe3;
  background: black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  gap: 30px;
  border-radius: 26px;
}

.caixinhaplanos1 {
  width: 30%;
  height: 268px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background: rgba(240, 240, 240, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  color: #13ecab;
}

.caixinhaplanos1:hover {
  border-radius: 36px;
  border: 8px solid #6be62e;
  background: rgba(240, 240, 240, 0.2);
  box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.2) inset;
  backdrop-filter: blur(40px);
  cursor: pointer;
  transition-duration: 1s;
}

.caixinhaplanos2 {
  width: 30%;
  height: 268px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background: rgba(240, 240, 240, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  color: #c24361;
}

.caixinhaplanos2:hover {
  border-radius: 36px;
  border: 8px solid #aa2c54;
  background: rgba(240, 240, 240, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  cursor: pointer;
  transition-duration: 1s;
}

.caixinhaplanos3 {
  width: 30%;
  height: 268px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background: rgba(240, 240, 240, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  color: #48bfe3;
}

.caixinhaplanos3:hover {
  border-radius: 36px;
  border: 8px solid #0064e0;
  background: rgba(240, 240, 240, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  cursor: pointer;
  transition-duration: 1s;
}

.caixinhaplanos3:hover .pedrinhas {
  transform: rotateY(360deg);
}

.pedrinhas {
  width: 100px;
  /* Ajuste conforme necessário */
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.caixinhaplanos2:hover .pedrinhas {
  transform: rotateY(360deg);
}

.pedrinhas {
  width: 100px;
  /* Ajuste conforme necessário */
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.caixinhaplanos1:hover .pedrinhas {
  transform: rotateY(360deg);
}

.pedrinhas {
  width: 100px;
  /* Ajuste conforme necessário */
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.cardPretoMenor {
  width: 43%;
}

.cardPretoMenor4 {
  width: 43%;
}

.cardPretoMaior {
  width: 55%;
}

.solucoes {
  position: relative;
  left: -230px;
  top: 70px;
  border: 1px solid white;
  width: 42%;
  font-size: 0.83em;
  color: white;
  border-radius: 30px;
  text-align: center;
  z-index: 3;
  background-color: black;
  font-weight: normal;
  padding: 4px;
  border-radius: 0.8em;
  font-size: 0.8em;
  padding: 0.4em;
}

.jobequip {
  position: relative;
  left: 720px;
  border: 2px solid white;
  width: 42%;
  color: white;
  text-align: center;
  z-index: 3;
  background-color: black;
  font-weight: normal;
  border-radius: 0.8em;
  font-size: 0.8em;
  padding: 0.4em;
}

.BotaoDescobrirHackathons {
  width: 50vh;
  text-decoration: none;
}

.home {
  background-image: url(../../assets/imgs/home_fundo.png);
}

@media (max-width: 768px) {
  .hometitle {
    font-size: 1.4em;
  }
}

@media (max-width: 480px) {}

/* HABILIDADES */

/* PAI */
.botoesHome2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 1em;
  flex-wrap: wrap;
}

.setameio {
  width: 700px;
  left: -345px;
  position: relative;
}

.setadireita {
  width: 600px;
  position: relative;
  left: -262px;
}

.caixasparte2,
.caixaparte1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.primeiracaixa,
.segundacaixa,
.terceiracaixa,
.quartacaixa {
  height: 100.575px;
  flex-shrink: 0;
  border-radius: 26.36px;
  border: 3.654px solid var(--Terciria-III, #141301);
  background: var(--Terciria-II, #f0f0f0);
  color: var(--Terciria-III, #141301);
  font-size: 1em;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.primeiracaixa,
.terceiracaixa,
.quartacaixa {
  padding: 22px;
  width: 450px;
  position: relative;
  left: 200px;
  margin-top: -20px;
}

.segundacaixa {
  width: 500px;
  position: relative;
  left: 350px;
  height: 110px;
  top: 50px;
  padding-top: 5px;
  font-size: 1em;
}

.icons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.textos {
  width: 80%;
  font-size: 0.8em;
}
.textos1 {
  width: 80%;
  font-size: 0.8em;

}

.terceiracaixa {
  margin-top: -30px;
  margin-left: 10px;
}

.quartacaixa {
  margin-left: 150px;
  margin-top: 5px;
}

.setaparacima {
  width: 400px;
  position: relative;
  margin-top: -100px;
  margin-left: 1075px;
}

.primeiracaixa:hover,
.segundacaixa:hover,
.terceiracaixa:hover,
.quartacaixa:hover {
  border: 1px solid #06f8fa;
  background-color: #141301;
  color: white;
  cursor: pointer;
  transition: 1s;
}

/* TESTES  */

.logos {
  overflow: hidden;
  /* Isto está correto */
  padding: 60px 0;
  /* Corrigido para 'padding' ao invés de 'pad' */
  white-space: nowrap;
  position: relative;
}

.logos::before,
.logos::after {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  content: "";
  z-index: 2;
}

.logos_slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos_slide img {
  width: 150px;
  height: 150px;
  margin: 0 40px;
}

.logos:hover .logos_slide {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 320px) {
  .hometitle {
    font-size: 1.25em;
    line-height: 1em;
  }

  .botoesHome {
    width: 95%;
    display: flex;
    justify-content: space-between;

  }

  .jobequip,
  .solucoes,
  hr,
  .setameio,
  .setadireita,
  .setaparacima {
    display: none;
  }
  /* .cardPretoHome .tituloCardPreto {
    font-size: 1.5em;
  } */

  .cardPretoHome {
    width: 95%;
    margin-top: 3em;
    font-size: 0.5em;
    padding: 0.5em;
  }

  .cardPretoHome span {
    margin: 0em;
  }

  .homeTitulo2 {
    margin: 1em auto -1em auto;
    font-size: 1em;
    width: 100%;
  }

  .botoesHome2 {
    width: 100%;
  }

  .caixasparte2,
  .caixaparte1 {
    flex-direction: column;
    margin: auto;
  }

  .caixasparte1 {
    width: 100%;
  }


  .caixasparte2 {
    width: 100%;
    font-size: 0.8em;

  }

  .primeiracaixa,
  .segundacaixa,
  .terceiracaixa,
  .quartacaixa {
    
    width: 90%;
    align-items: center;
    height: 4em;
    font-size: 0.6em;
    margin: auto;
    margin: 0.8em;
  }

  .primeiracaixa {
    left: -2px;
    margin-bottom: -3px;

  }


  .terceiracaixa,
  .quartacaixa {
    left: 15px;
    font-size: 0.8em;
    margin-top: 0px;
  }

  .segundacaixa {
    left: 0px;
    height: 110px;
    top: 0px;
    align-items: center;
  }

  .icons {
    width: 20%;
  }

  .textos {
    width: 80%;
  }

  .terceiracaixa {
    margin-top: 0px;
    margin-left: 0px;
  }

  .quartacaixa {
    margin-left: 0px;
    margin-top: 0px;
  }

  .primeiracaixa:hover,
  .segundacaixa:hover,
  .terceiracaixa:hover,
  .quartacaixa:hover {
    border: 1px solid #06f8fa;
    background-color: #141301;
    color: white;
    cursor: pointer;
    transition: 1s;
  }

  .iconsCardsCaixas{
    color: #06F8FA;
    font-size: 50px;
  }

  
  .homeTitulo3 {
    margin: 1em auto 0em auto;
    width: 100%;
    font-size: 1em;
  }

  .hackathonsDisponiveisHome {
    width: 90%;
    margin: auto;
    margin-top: 2em;
    
  }

  .rowHackathonsDisp {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .homeTitulo4 {
    margin: 1em auto 1em auto;
    text-align: center;
    width: 100%;
    font-weight: bold;

    span {
      color: var(--Terciria-V, #a367eb);
    }

  }

  .tagsHacka {
    margin-bottom: 0em;
  }

  .homeTitulo4 {
    margin: -3em auto 2em auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1em;

    span {
      color: var(--Terciria-V, #a367eb);
    }

  }

  .coments {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    gap: 8vh;
    align-items: center;
  }

  .homeTitulo5 {
    margin: 1em auto 0em auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 0.8em;

    span {
      margin: 0;
      color: var(--Terciria-V, #a367eb);
    }
  }

  .caixaCardsPreta {
    width: 90%;
    height: auto;
  }

  



  .cardPretoMenor,
  .cardPretoMenor4,
  .cardPretoMaior {
    margin-bottom: 0.5em;
    font-size: 0.8em;
  }

  .cardPretoMenor {
    width: 100%;
  }

  .cardPretoMenor4 {
    width: 100%;
  }

  .cardPretoMaior {
    width: 100%;
  }

  .descCardPretoTalentos {
    width: 100%;
  }

  .homeTitulo6 {
    margin: 1em auto 1em auto;
  }

  .homeTitulo6 {
    margin: 1em auto 0em auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1em;

    span {
      margin: 0;
      color: var(--Terciria-V, #a367eb);
    }
  }

  .caixaplanos {
    height: auto;
    padding: 0.5em 0em 0.5em 0em;
    flex-wrap: wrap;
  }

  .caixinhaplanos1,
  .caixinhaplanos2,
  .caixinhaplanos3 {
    font-size: 0.5em;
    width: 90%;
    height: auto;
    border-radius: 10px;
    padding: 1em;
    margin: 0px;
  }

  .caixinhaplanos1:hover {
    border-radius: 10px;
    border: 1px solid #6be62e;
    background: rgba(240, 240, 240, 0.2);
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.2) inset;
    backdrop-filter: blur(40px);
    cursor: pointer;
    transition-duration: 1s;
  }
  .caixinhaplanos2:hover {
    border-radius: 10px;
    border: 1px solid #aa2c54;
    background: rgba(240, 240, 240, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
    cursor: pointer;
    transition-duration: 1s;
  }
  .caixinhaplanos3:hover {
    border-radius: 10px;
    border: 1px solid #0064e0;
    background: rgba(240, 240, 240, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
    cursor: pointer;
    transition-duration: 1s;
  }

  

  .pedrinhas {
    width: 35px;
    height: 35px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .homeTitulo7 {
    margin: 1em auto 0em auto;
    width: 100%;
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
    span {
      color: var(--Terciria-V, #a367eb);
    }
  }

  .logos_slide img {
    width: 80px;
    height: 80px;
    margin: 0 30px;
  }

  .logos {
    padding: 30px 0;
  }

}
@media only screen and (min-width:321px) {
  @media only screen and (max-width:360px) {
    .hometitle {
      font-size: 1.4em;
      line-height: 1em;
      width: 100%;
    }
  
    .botoesHome {
      width: 90%;
      display: flex;
      justify-content: space-between;
  
    }
  
    .cardPretoHome {
      width: 90%;
      margin-top: 3em;
      font-size: 0.7em;
      padding: 0.5em;
    }
  
    .cardPretoHome span {
      margin: 0em;
    }
  
    .descCardPretoTalentos {
      width: 100%;
    }
  
  
    .jobequip,
    .solucoes,
    hr,
    .setameio,
    .setadireita,
    .setaparacima {
      display: none;
    }
  
    .cardPretoHome .tituloCardPreto {
      text-align: center;
      font-size: 1em;
    }
  
    .homeTitulo2 {
      margin: 1em auto -1em auto;
      font-size: 1em;
      width: 100%;
    }
  
    .botoesHome2 {
      width: 100%;
    }
  
    .caixasparte2,
    .caixaparte1 {
      flex-direction: column;
      margin: auto;
    }
  
    .caixasparte1 {
      width: 100%;
    }
  
  
    .caixasparte2 {
      width: 100%;
      font-size: 0.8em;
  
    }
  
    .primeiracaixa,
    .segundacaixa,
    .terceiracaixa,
    .quartacaixa {
      
      width: 90%;
      align-items: center;
      height: 4em;
      font-size: 0.6em;
      margin: auto;
      margin: 0.8em;
    }
  
    .primeiracaixa {
      left: -2px;
      margin-bottom: -3px;
  
    }
  
  
    .terceiracaixa,
    .quartacaixa {
      left: 15px;
      font-size: 0.8em;
      margin-top: 0px;
    }
  
    .segundacaixa {
      left: 0px;
      height: 110px;
      top: 0px;
      align-items: center;
    }
  
    .icons {
      width: 20%;
    }
  
    .textos {
      width: 80%;
    }
  
    .terceiracaixa {
      margin-top: 0px;
      margin-left: 0px;
    }
  
    .quartacaixa {
      margin-left: 0px;
      margin-top: 0px;
    }
  
    .primeiracaixa:hover,
    .segundacaixa:hover,
    .terceiracaixa:hover,
    .quartacaixa:hover {
      border: 1px solid #06f8fa;
      background-color: #141301;
      color: white;
      cursor: pointer;
      transition: 1s;
    }
  
    .iconsCardsCaixas{
      color: #06F8FA;
      font-size: 50px;
    }
  
    
    .homeTitulo3 {
      margin: 1em auto 0em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
  
      span {
        color: var(--Terciria-V, #a367eb);
      }
  
    }
  
    .hackathonsDisponiveisHome {
      width: 90%;
      margin: auto;
      margin-top: 2em;
      
    }
  
    .rowHackathonsDisp {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  
    .homeTitulo4 {
      margin: 1em auto 1em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
  
      span {
        color: var(--Terciria-V, #a367eb);
      }
  
    }
  
    .tagsHacka {
      margin-bottom: 0em;
    }
  
    .homeTitulo4 {
      margin: -3em auto 2em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-size: 1em;
  
      span {
        color: var(--Terciria-V, #a367eb);
      }
  
    }
  
    .coments {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 90%;
      justify-content: center;
      gap: 8vh;
      align-items: center;
    }
  
    .homeTitulo5 {
      margin: 1em auto 0em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-size: 0.8em;
  
      span {
        margin: 0;
        color: var(--Terciria-V, #a367eb);
      }
    }
  
    .caixaCardsPreta {
      width: 90%;
      height: auto;
    }
  
    .cardPretoMenor,
    .cardPretoMenor4,
    .cardPretoMaior {
      margin-bottom: 0.5em;
      font-size: 0.8em;
    }
  
    .cardPretoMenor {
      width: 100%;
    }
  
    .cardPretoMenor4 {
      width: 100%;
    }
  
    .cardPretoMaior {
      width: 100%;
    }
  
    .homeTitulo6 {
      margin: 1em auto 1em auto;
    }
  
    .homeTitulo6 {
      margin: 1em auto 0em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-size: 1em;
  
      span {
        margin: 0;
        color: var(--Terciria-V, #a367eb);
      }
    }
  
    .caixaplanos {
      height: auto;
      padding: 0.5em 0em 0.5em 0em;
      flex-wrap: wrap;
      
    }
  
    .caixinhaplanos1,
    .caixinhaplanos2,
    .caixinhaplanos3 {
      font-size: 0.3em;
      width: 4.5em;
      height: auto;
      border-radius: 10px;
      justify-content: space-evenly;
      width: 90%;
    }
  
    .caixinhaplanos1:hover {
      border-radius: 10px;
      border: 1px solid #6be62e;
      background: rgba(240, 240, 240, 0.2);
      box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.2) inset;
      backdrop-filter: blur(40px);
      cursor: pointer;
      transition-duration: 1s;
    }
    .caixinhaplanos2:hover {
      border-radius: 10px;
      border: 1px solid #aa2c54;
      background: rgba(240, 240, 240, 0.2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
      backdrop-filter: blur(20px);
      cursor: pointer;
      transition-duration: 1s;
    }
    .caixinhaplanos3:hover {
      border-radius: 10px;
      border: 1px solid #0064e0;
      background: rgba(240, 240, 240, 0.2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
      backdrop-filter: blur(20px);
      cursor: pointer;
      transition-duration: 1s;
    }
  
    
  
    .pedrinhas {
      width: 35px;
      height: 35px;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  
    .homeTitulo7 {
      margin: 1em auto 0em auto;
      width: 100%;
      padding: 1em;
      font-weight: bold;
      font-size: 1em;
      span {
        color: var(--Terciria-V, #a367eb);
      }
    }

    .logos_slide img {
      width: 80px;
      height: 80px;
      margin: 0 30px;
    }
  
    .logos {
      padding: 30px 0;
    }
  
  }
}

@media only screen and (min-width: 361px) {
  @media only screen and (max-width: 391px) {
    .hometitle {
      font-size: 1.4em;
      line-height: 1em;
      width: 100%;
    }
  
    .botoesHome {
      width: 90%;
      display: flex;
      justify-content: space-between;
  
    }
  
    .cardPretoHome {
      width: 90%;
      margin-top: 3em;
      font-size: 0.7em;
      padding: 0.5em;
    }
  
    .cardPretoHome span {
      margin: 0em;
    }
  
    .descCardPretoTalentos {
      width: 100%;
    }
  
  
    .jobequip,
    .solucoes,
    hr,
    .setameio,
    .setadireita,
    .setaparacima {
      display: none;
    }
  
    .cardPretoHome .tituloCardPreto {
      text-align: center;
      font-size: 1em;
    }
  
    .homeTitulo2 {
      margin: 1em auto -1em auto;
      font-size: 1em;
      width: 100%;
    }
  
    .botoesHome2 {
      width: 100%;
    }
  
    .caixasparte2,
    .caixaparte1 {
      flex-direction: column;
      margin: auto;
    }
  
    .caixasparte1 {
      width: 100%;
    }
  
  
    .caixasparte2 {
      width: 100%;
      font-size: 0.8em;
  
    }
  
    .primeiracaixa,
    .segundacaixa,
    .terceiracaixa,
    .quartacaixa {
      
      width: 90%;
      align-items: center;
      height: 4em;
      font-size: 0.5em;
      margin: auto;
      margin: 0.8em;
    }
  
    .primeiracaixa {
      left: -2px;
      margin-bottom: -3px;
  
    }
  
  
    .terceiracaixa,
    .quartacaixa {
      left: 15px;
      font-size: 0.8em;
      margin-top: 0px;
    }
  
    .segundacaixa {
      left: 0px;
      height: 110px;
      top: 0px;
      align-items: center;
    }
  
    .icons {
      width: 20%;
    }
  
    .textos {
      width: 80%;
    }
  
    .terceiracaixa {
      margin-top: 0px;
      margin-left: 0px;
    }
  
    .quartacaixa {
      margin-left: 0px;
      margin-top: 0px;
    }
  
    .primeiracaixa:hover,
    .segundacaixa:hover,
    .terceiracaixa:hover,
    .quartacaixa:hover {
      border: 1px solid #06f8fa;
      background-color: #141301;
      color: white;
      cursor: pointer;
      transition: 1s;
    }
  
    .iconsCardsCaixas{
      color: #06F8FA;
      font-size: 50px;
    }
  
    
    .homeTitulo3 {
      margin: 1em auto 0em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
  
      span {
        color: var(--Terciria-V, #a367eb);
      }
  
    }
  
    .hackathonsDisponiveisHome {
      width: 90%;
      margin: auto;
      margin-top: 2em;
      
    }
  
    .rowHackathonsDisp {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  
    .homeTitulo4 {
      margin: 1em auto 1em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
  
      span {
        color: var(--Terciria-V, #a367eb);
      }
  
    }
  
    .tagsHacka {
      margin-bottom: 0em;
    }
  
    .homeTitulo4 {
      margin: -3em auto 2em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-size: 1em;
  
      span {
        color: var(--Terciria-V, #a367eb);
      }
  
    }
  
    .coments {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 80%;
      justify-content: center;
      gap: 8vh;
      align-items: center;
    }
  
    .homeTitulo5 {
      margin: 1em auto 0em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-size: 0.8em;
  
      span {
        margin: 0;
        color: var(--Terciria-V, #a367eb);
      }
    }
  
    .caixaCardsPreta {
      width: 90%;
      height: auto;
    }
  
    .cardPretoMenor,
    .cardPretoMenor4,
    .cardPretoMaior {
      margin-bottom: 0.5em;
      font-size: 0.8em;
    }
  
    .cardPretoMenor {
      width: 100%;
    }
  
    .cardPretoMenor4 {
      width: 100%;
    }
  
    .cardPretoMaior {
      width: 100%;
    }
  
    .homeTitulo6 {
      margin: 1em auto 1em auto;
    }
  
    .homeTitulo6 {
      margin: 1em auto 0em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-size: 1em;
  
      span {
        margin: 0;
        color: var(--Terciria-V, #a367eb);
      }
    }
  
        .caixaplanos {
        height: auto;
        padding: 0.5em 0em 0.5em 0em;
        flex-wrap: wrap;
        
      }
    
      .caixinhaplanos1,
      .caixinhaplanos2,
      .caixinhaplanos3 {
        font-size: 0.3em;
        width: 4.5em;
        height: auto;
        border-radius: 10px;
        justify-content: space-evenly;
        width: 90%;
      }
    
      .caixinhaplanos1:hover {
        border-radius: 10px;
        border: 1px solid #6be62e;
        background: rgba(240, 240, 240, 0.2);
        box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.2) inset;
        backdrop-filter: blur(40px);
        cursor: pointer;
        transition-duration: 1s;
      }
      .caixinhaplanos2:hover {
        border-radius: 10px;
        border: 1px solid #aa2c54;
        background: rgba(240, 240, 240, 0.2);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        backdrop-filter: blur(20px);
        cursor: pointer;
        transition-duration: 1s;
      }
      .caixinhaplanos3:hover {
        border-radius: 10px;
        border: 1px solid #0064e0;
        background: rgba(240, 240, 240, 0.2);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        backdrop-filter: blur(20px);
        cursor: pointer;
        transition-duration: 1s;
      }
    
      
    
      .pedrinhas {
        width: 35px;
        height: 35px;
        margin-top: 1em;
        margin-bottom: 1em;
      }
  
    .homeTitulo7 {
      margin: 1em auto 0em auto;
      width: 100%;
      padding: 1em;
      font-weight: bold;
      font-size: 1em;
      span {
        color: var(--Terciria-V, #a367eb);
      }
    }
  }
}


/*Medida Mobile Comum*/
@media only screen and (min-width: 392px) {
  @media only screen and (max-width: 430px) {
  /* .video-background {
    height: 75%;

  } */

  .hometitle {
    font-size: 1.4em;
    line-height: 1em;
    width: 100%;
  }

  .botoesHome {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  .cardPretoHome {
    width: 90%;
    margin-top: 3em;
    font-size: 0.7em;
    padding: 0.5em;
  }

  .cardPretoHome span {
    margin: 0em;
  }

  .descCardPretoTalentos {
    width: 100%;
  }


  .jobequip,
  .solucoes,
  hr,
  .setameio,
  .setadireita,
  .setaparacima {
    display: none;
  }

  .cardPretoHome .tituloCardPreto {
    text-align: center;
    font-size: 1em;
  }

  .homeTitulo2 {
    margin: 1em auto -1em auto;
    font-size: 1em;
    width: 100%;
  }

  .botoesHome2 {
    width: 100%;
  }

  .caixasparte2,
  .caixaparte1 {
    flex-direction: column;
    margin: auto;
  }

  .caixasparte1 {
    width: 100%;
  }


  .caixasparte2 {
    width: 100%;
    font-size: 0.8em;

  }

  .primeiracaixa,
  .segundacaixa,
  .terceiracaixa,
  .quartacaixa {
    
    width: 90%;
    align-items: center;
    height: 4em;
    font-size: 0.6em;
    margin: auto;
    margin: 0.8em;
  }

  .primeiracaixa {
    left: -2px;
    margin-bottom: -3px;

  }


  .terceiracaixa,
  .quartacaixa {
    left: 15px;
    font-size: 0.8em;
    margin-top: 0px;
  }

  .segundacaixa {
    left: 0px;
    height: 110px;
    top: 0px;
    align-items: center;
  }

  .icons {
    width: 20%;
  }

  .textos {
    width: 80%;
  }

  .terceiracaixa {
    margin-top: 0px;
    margin-left: 0px;
  }

  .quartacaixa {
    margin-left: 0px;
    margin-top: 0px;
  }

  .primeiracaixa:hover,
  .segundacaixa:hover,
  .terceiracaixa:hover,
  .quartacaixa:hover {
    border: 1px solid #06f8fa;
    background-color: #141301;
    color: white;
    cursor: pointer;
    transition: 1s;
  }

  .iconsCardsCaixas{
    color: #06F8FA;
    font-size: 50px;
  }

  
  .homeTitulo3 {
    margin: 1em auto 0em auto;
    text-align: center;
    width: 100%;
    font-weight: bold;

    span {
      color: var(--Terciria-V, #a367eb);
    }

  }

  .hackathonsDisponiveisHome {
    width: 90%;
    margin: auto;
    margin-top: 2em;
    
  }

  .rowHackathonsDisp {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .homeTitulo4 {
    margin: 1em auto 1em auto;
    text-align: center;
    width: 100%;
    font-weight: bold;

    span {
      color: var(--Terciria-V, #a367eb);
    }

  }

  .tagsHacka {
    margin-bottom: 0em;
  }

  .homeTitulo4 {
    margin: -3em auto 2em auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1em;

    span {
      color: var(--Terciria-V, #a367eb);
    }

  }

  .coments {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    gap: 8vh;
    align-items: center;
  }

  .homeTitulo5 {
    margin: 1em auto 0em auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 0.8em;

    span {
      margin: 0;
      color: var(--Terciria-V, #a367eb);
    }
  }

  .caixaCardsPreta {
    width: 90%;
    height: auto;
  }

  .cardPretoMenor,
  .cardPretoMenor4,
  .cardPretoMaior {
    margin-bottom: 0.5em;
    font-size: 0.8em;
  }

  .cardPretoMenor {
    width: 100%;
  }

  .cardPretoMenor4 {
    width: 100%;
  }

  .cardPretoMaior {
    width: 100%;
  }

  .homeTitulo6 {
    margin: 1em auto 1em auto;
  }

  .homeTitulo6 {
    margin: 1em auto 0em auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1em;

    span {
      margin: 0;
      color: var(--Terciria-V, #a367eb);
    }
  }

      .caixaplanos {
      height: auto;
      padding: 0.5em 0em 0.5em 0em;
      flex-wrap: wrap;
      
    }
  
    .caixinhaplanos1,
    .caixinhaplanos2,
    .caixinhaplanos3 {
      font-size: 0.3em;
      width: 4.5em;
      height: auto;
      border-radius: 10px;
      justify-content: space-evenly;
      width: 90%;
    }
  
    .caixinhaplanos1:hover {
      border-radius: 10px;
      border: 1px solid #6be62e;
      background: rgba(240, 240, 240, 0.2);
      box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.2) inset;
      backdrop-filter: blur(40px);
      cursor: pointer;
      transition-duration: 1s;
    }
    .caixinhaplanos2:hover {
      border-radius: 10px;
      border: 1px solid #aa2c54;
      background: rgba(240, 240, 240, 0.2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
      backdrop-filter: blur(20px);
      cursor: pointer;
      transition-duration: 1s;
    }
    .caixinhaplanos3:hover {
      border-radius: 10px;
      border: 1px solid #0064e0;
      background: rgba(240, 240, 240, 0.2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
      backdrop-filter: blur(20px);
      cursor: pointer;
      transition-duration: 1s;
    }
  
    
  
    .pedrinhas {
      width: 35px;
      height: 35px;
      margin-top: 1em;
      margin-bottom: 1em;
    }

  .homeTitulo7 {
    margin: 1em auto 0em auto;
    width: 100%;
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
    span {
      color: var(--Terciria-V, #a367eb);
    }
  }

  }
}

/*Medida Tablet*/
@media only screen and (min-width:431px) {
  @media only screen and (max-width: 930px) {
    .hometitle {
      font-size: 2em;
      line-height: 1em;
    }

    .botoesHome {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .cardPretoHome {
      width: 90%;
      margin-top: 3em;

    }

    .jobequip,
    .solucoes,
    hr,
    .setameio,
    .setadireita,
    .setaparacima {
      display: none;
    }

    .cardPretoHome .tituloCardPreto {
      text-align: center;
      font-size: 1.5em;
    }

    .areaBotao {
      width: 100%;
      justify-content: center;
      margin-top: 1em;
      margin-left: 0px;
    }

    .homeTitulo2 {
      margin: 5em auto -1em auto;
      width: 100%;
      font-size: 1.7em;
    }

    .botoesHome2 {
      width: 80%;
    }


    .caixasparte2,
    .caixaparte1 {
      flex-direction: column;
      margin: auto;
    }

    .caixasparte2 {
      width: 80%;
    }

    .primeiracaixa,
    .segundacaixa,
    .terceiracaixa,
    .quartacaixa {
      margin: 0.5em;
      width: 100%;
    }

    .primeiracaixa {
      left: -2px;
      margin-bottom: -3px;
    }


    .terceiracaixa,
    .quartacaixa {
      left: 15px;
      margin-top: 0px;
    }

    .segundacaixa {
      left: 0px;
      height: 110px;
      top: 0px;
    }

    .segundacaixa .textos br {
      display: none;
    }

    .icons {
      width: 20%;
    }

    .textos {
      width: 80%;
    }

    .terceiracaixa {
      margin-top: 0px;
      margin-left: 0px;
    }

    .quartacaixa {
      margin-left: 0px;
      margin-top: 0px;
    }

    .primeiracaixa:hover,
    .segundacaixa:hover,
    .terceiracaixa:hover,
    .quartacaixa:hover {
      border: 1px solid #06f8fa;
      background-color: #141301;
      color: white;
      cursor: pointer;
      transition: 1s;
    }

    .homeTitulo3 {
      margin: 2em auto 2em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-size: 1.5em;
      span {
        color: var(--Terciria-V, #a367eb);
      }

    }

    .hackathonsDisponiveisHome {
      width: 90%;
      margin: auto;
    }

    .rowHackathonsDisp {
      flex-direction: column;
      margin: auto;
    }

    .homeTitulo4 {
      margin: 1em auto 1em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;

      span {
        color: var(--Terciria-V, #a367eb);
      }

    }

    .coments {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 80%;
      justify-content: center;
      gap: 8vh;
    }

    .homeTitulo5 {
      margin: 1em auto 1em auto;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-size: 1.5em;

      span {
        color: var(--Terciria-V, #a367eb);
      }

    }

    .caixaCardsPreta {
      width: 90%;
      height: auto;
    }

    .cardPretoMenor,
    .cardPretoMenor4,
    .cardPretoMaior {
      margin: 0.5em;
      font-size: 1.5em;
    }

    .cardPretoMenor {
      width: 100%;
    }

    .cardPretoMenor4 {
      width: 100%;
    }

    .cardPretoMaior {
      width: 100%;
    }

    .homeTitulo6 {
      margin: 1em auto 1em auto;
    }

    .caixaplanos {
      height: 25vh;
      padding: 0em 2em 0em 2em;
    }

    .caixinhaplanos1,
    .caixinhaplanos2,
    .caixinhaplanos3 {
      font-size: 0.8em;
      width: 35%;
      height: 200px;
    }

    .pedrinhas {
      width: 75px;
    }

    .homeTitulo7 {
      margin: 2em auto 0em auto;
      width: 75%;
      padding: 1em;
      font-weight: bold;

      span {
        color: var(--Terciria-V, #a367eb);
      }
    }
  }
}