.CardMember{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.ImageMember{
    width: 50%;
    height: 20vh;
}

.TitlesNameMember{
    font-size: 1.2rem;
    font-weight: bold;
    color: #F0F0F0;
    width: 50%;
}

.descriptionMember{
    font-size: 1rem;
    color: #f0f0f0e4;
    text-align: center;
    width: 50%;
}

.ContainerImageLogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.ImageLogo{
    width: 100%;
    height: 5vh;
}