.container{
    width: 100%;
    height: 100vh;
}

.nav{
    height: 16vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.416);
    display: flex;
    align-items: center;
}

.kia{
    width: 10vw;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    position: relative;
    left: 58%;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s ease-in-out;
    font-size: 1.8rem;
    font-weight: bold;
}

.kia:hover{
    background-color: #4e346e;
    color: #00ffd0;
}

.kia img{
    width: 50px;
    height: 50px;
}

.conteudo{
    width: 100%;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.ladoEsquerdo{
    width:38%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.pizzaGrafico{
    width: 100%;
    height: 40vh;
    border-radius: 12px;
    display: flex;
}

.graficoGeral{
    width: 100%;
    height: 28vh;
    border-radius: 12px;
    background-color: rgba(100, 100, 100, 0.253);
    padding: 20px 30px;
}

.ladoDireito{
    width: 35%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.equipes{
    width: 100%;
    height: 34.5vh;
    background-color: black;
    border-radius: 25px;
    display: flex;
    padding: 20px 30px;
}

.total{
    position: relative;
    top: 5%;
}


.total h1{
    color: #fff;
    font-size: 2.5rem;
}

.totalEquipes{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 40%;
}

.btnEquipe{
    background-color: aquamarine;
    height: 3rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    left: 65%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.btnEquipe p{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.btnEquipe:hover{
    background-color: #fff;
    color: black;
}

.projetos{
    width: 100%;
    height: 34.5vh;
    background-color: #A367EB;
    border-radius: 25px;
    display: flex;
    padding: 20px 30px;
}

.projetos img{
    width: 100%;
    height: 34.5vh;
    background-size: cover;
}