.feedContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: none;
    height: auto;
    padding: 20px;
}

.feedContent {
    width: 60%;
    margin: 0 auto;
    background: none;
    border-radius: 8px;
    overflow: hidden;
}

.newPost {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 20px;
    width: 70%;
}

.newPost img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.newPost p {
    color: #555;
    font-size: 16px;
}

@media (max-width: 868px) {
    .feedContent {
        width: 100%;
        padding: 0;
    }
}

.ContainerNewPost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.loadingMessage {
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 20px;
}