.container{
    width: 50vw;
    height: 10vh;
    display: flex;
    align-items: center;
    position: relative;
    right: 3%;
    bottom: 2%;
}

.container p{
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

.containerSessão1{
    width: 45vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 20px;
    position: relative;
    left: 30%;
    z-index: 0;
}

.containerSessão1 p{
    color: #A367EB;
}

.containerSessão2{
    width: 45vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 20px;
    position: relative;
    left: 30%;
    z-index: 0;
}

.containerSessão2 p{
    color: #A367EB;
}

.containerKia{
    width: 60vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 20px;
    position: relative;
    left: 27%;
    z-index: 0;
}

.containerKia p{
    color: #A367EB;
}


@media (min-width: 375px) and (max-width: 767.98px){

    .container{
        position: relative;
        left: 6%;
    }

    .container p{
        font-size: 2rem;
    }

    .containerSessão1{
        top: 1%;
        left: 7%;
        position: relative;
    }

    .containerSessão2{
        display: none;
    }

    .containerKia{
        position: relative;
        left: 10%;
        width: 70%;
    }

    .containerKia p{
        font-size: 1.5rem;
    }

}