.card_pessoas {
  width: 100%;
  text-align: left;
  margin-left: 70px;
  p {
    width: 60%;
    color: rgba(240, 240, 240, 0.9);
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
}

@media (max-width: 450px) {
  .card_pessoas {
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
      width: 68%;
      margin-bottom: 10px;
    }
  }
}
@media (min-width: 451px) {
  @media (max-width: 840px) {
    .card_pessoas {
      display: flex;
      flex-direction: column;
      margin-left: 200px;
      p {
        text-align: center;
        width: 60%;
        margin-bottom: 10px;
      }
    }
  }
}
