*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg_container{
    background-image: url(../../assets/imgs/bg_Hackathonsdisponíveis.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}