.inputFormsLogin {
  border-radius: 10px;
  background: rgba(240, 240, 240, 0.10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  padding: 0.5em 0.5em 0.5em 1em;
  width: 75%;
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #fff;
  display: flex;
  align-items: center;
}

.inputFormsLogin::placeholder {
  color: rgb(255, 255, 255);
  /* Altere para a cor desejada */
  opacity: 0.5;
  /* Define a opacidade se necessário */
}

.inputMaior,
.inputMenor {
  width: 100%;
}

.inputMaior {
  margin-right: 0.5em;
}


/*Medida Mobile*/

@media only screen and (max-width: 320px) {
  .inputFormsLogin {
    width: 100%;
    font-size: 1.8em;
    display: flex;
    padding: 0.5em 0em 0.5em 0.8em;
    margin-bottom: 1em;
    border-radius: 7px;
  }



 }
   @media only screen and (min-width:321px) {
     @media only screen and (max-width:360px) {

      .inputFormsLogin {
        width: 100%;
        font-size: 1.8em;
        display: flex;
        padding: 0.5em 0em 0.5em 0.8em;
        margin-bottom: 1em;
        border-radius: 7px;
      }
     }
   }




  @media only screen and (min-width: 361px) {
    @media only screen and (max-width: 391px) {
      .inputFormsLogin {
        width: 100%;
        font-size: 1.8em;
        display: flex;
        padding: 0.5em 0em 0.5em 0.8em;
        margin-bottom: 1em;
        border-radius: 7px;
      }

    }
  }


   @media only screen and (min-width: 392px) {
     @media only screen and (max-width: 440px) {
      .inputFormsLogin {
        width: 100%;
        font-size: 1.8em;
        display: flex;
        padding: 0.5em 0em 0.5em 0.8em;
        margin-bottom: 1em;
        border-radius: 7px;
      }
  
      .inputMaior {
        width: 100%;
        margin-right: 5em;
        
      }
  
      .inputMenor {
      }
     }
   }

   /* Medida Tablet */
   @media only screen and (min-width: 441px) {
     @media only screen and (max-width: 900px) {
      .inputFormsLogin {
        width: 100%;
        font-size: 2.5em;
        display: flex;
        padding: 0.5em 0em 0.5em 0.8em;
        margin-bottom: 1em;
        border-radius: 7px;
      }
  
      .inputMaior {
        width: 100%;
        margin-right: 5em;
        
      }
  
      .inputMenor {
      }
     }
   }


