.ContentPrincipal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.containerprincipal {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
}
.containersubprincipal {
  width: calc(100% - 130px);
  position: relative;
  display: flex;
  margin-left: 130px;
}

.hackthonsmais {
  color: var(--Terciria-II, #f0f0f0);
  text-align: center;
  font-family: "DM Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 68px; /* 94.444% */
  margin-top: 120px;
}

.cardHacks {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

/* @media (max-width: 450px) {
  .containerprincipal {
    display: flex;
    flex-direction: column;
  }
  .containersubprincipal {
    width: 100%;
    margin: auto;
  }
  .hackthonsmais {
    h3 {
      font-size: 0.8em;
    }
  }
  .cardHacks {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
} */

@media (max-width: 30em) { /* 480px / 16 = 30em */
  .ContentPrincipal {
    padding: 0.625em; /* 10px / 16 = 0.625em */
    /* Ajuste de espaçamento para dispositivos menores */
  }

  .containerprincipal {
    flex-direction: column;
    align-items: center;
  }

  .containersubprincipal {
    padding: 0.625em; /* 10px / 16 = 0.625em */
    text-align: center;
    p {
      width: 82%;
    }
  }

  .hackthonsmais h3 {
    font-size: 1.2em; /* Ajuste do tamanho da fonte */
    text-align: center;
  }

  .cardHacks {
    flex-direction: column;
    gap: 0.9375em; /* 15px / 16 = 0.9375em */
  }

  /* Estilos para ajustar os componentes internos, como CardPreto e Card */
  .cardHackscustom {
    width: 100%; /* A largura ainda é 100%, sem necessidade de conversão */
  }
}
