.listLinks {
    border: 2px #7400b7 solid;
    list-style-type: none;
    background-color: #000;
    opacity: 90%;
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-between;
    width: 50%;
    font-weight: 500;
    border-radius: 5em;
    
}

.listLinkRow {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.listLinkRow li {
    margin: 0em 0.5em;

}

.listLinkRowSocial {
    list-style-type: none;
    display: flex;
}


.listLinkRowSocial li svg{
    margin: 5em 2em 2em 0em;
    width: 1.5em;
    height: 1.5em;
}

.listLinkCollum2 {
    list-style-type: none;
}

ul li {
    font-size: 1em;
}

.listLinkCollum{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-direction: column;
}

ul li Link {
    
}