.ContainerPrincipal{
    width: 100%;
    height: 100vh;
}

.nav{
    height: 16vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.416);
    display: flex;
    align-items: center;
}

.conteudo{
    height: 84vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.conteudoLeft{
    width: 42%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hackasSwipper{
    width: 100%;
    height: 40vh;
    background-color: black;
    border-radius: 12px;
}

.toppics{
    width: 100%;
    height: 28vh;
    background-color: rgba(160, 160, 160, 0.247);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comentarios{
    width: 95%;
    height: 23vh;
    background-color: #243281;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    gap: 8%;
    padding-top: 3%;
}

.foto_perfil{
    height: 50px;
    width: 50px;
}

.leftPerfil{
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 8rem;
    gap: 8%;
}

.perfil{
    background-color: rgba(160, 160, 160, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 4.5rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.contatar{
    background-color: aquamarine;
    width: 6rem;
    height: 2.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.contatar:hover{
    background-color: #000000;
    color: #ffffff;
}


.text{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 8vh;
    margin-left: 8%;
    justify-content: start;
}

.text span{
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    right: 10%;
}

.text p{
    color: #fff;
    font-size: 1rem;
    position: relative;
    right: 11%;
}

.performance{
    width: 50%;
    height: 6rem;
    display: flex;
    position: relative;
    bottom: 10%;
    align-items: center;
    gap: 10%;
}

.performance img{
    width: 4.8rem;
    height: 4.8rem;
}

.total{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.total span{
    font-size: 1.5rem;
    color: aquamarine;
}

.conteudoRight{
    width: 40%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todosHackas{
    width: 80%;
    height: 72vh;
    background-color: black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-top: 5%;
    flex-direction: column;
    justify-content: space-around;
}

.search{
    width: 75%;
    height: 7vh;
    background-color: #A367EB;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.search input{
    height: 7vh;
    width: 80%;
    background: none;
    cursor:text;
    outline: none;
    font-size: 1rem;
}

input::placeholder{
    color: #383838;
    font-weight: bold;
    font-family: 'DM Sans';
}

.icon{
    height: 4vh;
    width: 10%;
    color: #fff;
}

.hackathons{
    width: 80%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media (min-width: 375px) and (max-width: 767.98px){
    .conteudo{
        height: 180vh;
        width: 100%;
        flex-direction: column;
    }

    .conteudoLeft{
        width: 90%;
        height: 90vh;
    }

    .toppics{
        height: 35vh;
    }

    .comentarios{
        height: 30vh;
    }

    .perfil{
        width: 10.5em;
    }
    .perfil .text span{
        position: relative;
        left: 1%;
    }

    .perfil .text p{
        display: none;
    }

    .performance img{
        display: none;
    }

    .contatar{
        position: relative;
        top: 10%;
    }

    .total{
        position: relative;
        bottom: 10%;
    }

    .conteudoRight{
        width: 90%;
        height: 90vh;
    }

    .todosHackas{
        width: 100%;
        height: 80vh;
    }

    .hackathons{
        width: 90vw;
        gap: 20px;
    }
}