* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.containerPrimary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120vh;
  padding-top: 10vh;
}

.images {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images .elipseBlur {
  width: 50vw;
  height: 100vh;
  position: relative;
  top: 85vh;
  z-index: 1;
  right: 2rem;
}

.images .ImageGlass {
  position: relative;
  width: 95%;
  object-fit: cover;
  height: 85vh;
  bottom: 70%;
}

.ContainerTitleSobre {
  width: 55%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  bottom: 12%;
}

.titulosSection {
  color: #fff;
  font-size: 3.8rem;
}

.titulosSection span {
  color: #a55aff;
}

.ContainerTitleSobre p {
  width: 100%;
  color: #fff;
  font-size: 2.8rem;
}

.ContainerTitleSobre .subtitle {
  color: #66c2fa;
}

.containerSecondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120vh;
}

.iphone {
  width: 50vw;
  object-fit: contain;
  height: 120vh;
  position: relative;
  top: 5%;
  z-index: 1;
}

.containerSecondary .textDescription {
  width: 60%;
  position: relative;
  font-size: 3.8rem;
  color: #fff;
  right: 8rem;
  z-index: 2;
}

.containerTerciary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150vh;
}

.containerTerciary .textDescription {
  width: 60%;
  left: 10%;
  position: relative;
  font-size: 3.8rem;
  color: #fff;
  z-index: 3;
}

.equipeContainer {
  display: flex;
  width: 98%;
  height: 125vh;
  justify-content: center;
  align-items: center;
}

.imgEquipe {
  width: 70vw;
  object-fit: contain;
  height: 75vh;
  position: relative;
  top: 4%;
}

.containerDesenvolvedores {
  height: 80vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.containerDesenvolvedores .titulodesenvolvedores {
  position: relative;
  font-size: 3rem;
  color: #a55aff;
}

.descDesenvolvedores {
  width: 50%;
  height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descDesenvolvedores .textDescription {
  color: #fff;
  font-size: 3.5rem;
  width: 100%;
  margin-top: 2.5em;
}

.containerNossoTime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200vh;
}

.containerCardMembroTime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140vh;
}

.tituloNossoTime {
  position: relative;
  font-size: 3.5rem;
  color: #a55aff;
}



/*Disp Mobile*/
/*Medidas para dispositivos pequenos, com a largura de no máximo 320px (iPhone 5; iPhone SE 2016.)*/

@media only screen and (max-width: 320px) {
  .containerPrimary {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0vh;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 20vh;
  }

  .containerSecondary,
  .containerTerciary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 10vh;
  }


  .containerTerciary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }


  .ContainerTitleSobre {
    width: 95%;
    bottom: 0;
    text-align: center;
    gap: 1.5rem;
  }

  .ContainerTitleSobre p {
    font-size: 1.8rem;
  }

  .titulosSection {
    font-size: 3rem;
  }



  .images {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
  }

  .elipseBlur {
    display: none;
  }

  .images .ImageGlass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    bottom: 50%;
    padding-left: 1vh;
  }


  .containerSecondary {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .containerSecondary .textDescription {
    width: 90%;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
  }

  .containerTerciary {
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: auto;
    gap: 0vh;
    margin-bottom: 10vh;
  }

  .containerTerciary .textDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 2rem;
    text-align: left;
    margin: 0 auto;
  }

  .equipeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 20vh;
  }

  .containerDesenvolvedores .titulodesenvolvedores{
    font-size: 2.5em;
    text-align: center;
  }

  .containerNossoTime .tituloNossoTime {
    margin-bottom: 1em;
  }

  .descDesenvolvedores {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

  .descDesenvolvedores .textDescription {
    font-size: 2.5rem;
    text-align: center;
  }

  .imgEquipe {
    width: 90vw;
    height: auto;
  }

  .containerNossoTime {
    justify-content: space-between;
    height: auto;
    gap: 10vh;
    margin-bottom: 10vh;
  }

  .containerCardMembroTime {
    flex-direction: column;
    height: auto;
    margin-bottom: 3rem;
    width: 100%;
    gap: 15vh;
  }

  .tituloNossoTime {
    font-size: 3rem;
    text-align: center;
  }
}


/*Medidas para dispositivos médios, com a largura entre 321px e 360px (Samsung Galaxy S5; Xiaomi Mi 11i; Huawei P30; Galaxy Z Flip3; OPPO Find X3 PRO; Galaxy A12; Galaxy S21 Ultra; Google Pixel 6 PRO; Xiaomi 12; Galaxy S22; Galaxy S22 +; Galaxy S22 ULTRA; Samsung Galaxy S24; iPhone 12 Mini)*/

@media only screen and (min-width:321px) {
  @media only screen and (max-width:360px) {

    .containerPrimary {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 0vh;
      height: auto;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  
    .containerSecondary,
    .containerTerciary {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
      height: auto;
    }
  
  
    .containerTerciary {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }
  
  
    .ContainerTitleSobre {
      width: 95%;
      bottom: 0;
      text-align: center;
      gap: 1.5rem;
    }
  
    .ContainerTitleSobre p {
      font-size: 1.8rem;
    }
  
    .titulosSection {
      font-size: 3rem;
    }
  
  
  
    .images {
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }
  
    .elipseBlur {
      display: none;
    }
  
    .images .ImageGlass {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      bottom: 10%;
      padding-left: 1vh;
    }
  
  
    .containerSecondary {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }
  
    .containerSecondary .textDescription {
      width: 90%;
      font-size: 2.5rem;
      text-align: center;
      margin: 0 auto;
    }
  
    .containerTerciary {
      display: none;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: auto;
      gap: 0vh;
      margin-bottom: 5vh;
    }
  
    .containerTerciary .textDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      font-size: 2rem;
      text-align: left;
      margin: 0 auto;
    }
  
    .equipeContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      margin-bottom: 0em;
    }

    .equipeContainer {
      display: flex;
      width: 98%;
      height: 125vh;
      justify-content: center;
      align-items: center;
    }
  
    .containerDesenvolvedores .titulodesenvolvedores{
      font-size: 2.5em;
      text-align: center;
    }
  
    .containerNossoTime .tituloNossoTime {
      margin-top: 2.5em;
      margin-bottom: 0em;
    }
  
    .descDesenvolvedores {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 95%;
      padding: 0;
      margin: 0;
    }
  
    .descDesenvolvedores .textDescription {
      font-size: 2.5rem;
      text-align: center;
    }
  
    .imgEquipe {
      width: 90vw;
      height: auto;
    }
  
    .containerNossoTime {
      justify-content: space-between;
      height: auto;
      gap: 1em;
      margin-bottom: 10vh;
    }
  
    .containerCardMembroTime {
      flex-direction: column;
      height: 200vh;
      margin-bottom: 3rem;
      width: 100%;
      gap: 0vh;
    }
  
    .tituloNossoTime {
      font-size: 3rem;
      text-align: center;
    }


  }
}


/*Medidas para dispositivos médios para grandes, com largura entre 361px e 391px (Galaxy S24 ULTRA; iPhone X; iPhone 12P PRO; iPhone 13 PRO; iPhone 14; iPhone 14 PRO)*/

@media only screen and (min-width:361px) {
  @media only screen and (max-width:389px) {
    .containerPrimary {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 0vh;
      height: auto;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  
    .containerSecondary,
    .containerTerciary {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
      height: auto;
    }
  
  
    .containerTerciary {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }
  
  
    .ContainerTitleSobre {
      width: 95%;
      bottom: 0;
      text-align: center;
      gap: 1.5rem;
    }
  
    .ContainerTitleSobre p {
      font-size: 1.8rem;
    }
  
    .titulosSection {
      font-size: 3rem;
    }
  
  
  
    .images {
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }
  
    .elipseBlur {
      display: none;
    }
  
    .images .ImageGlass {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      bottom: 10%;
      padding-left: 1vh;
    }
  
  
    .containerSecondary {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }
  
    .containerSecondary .textDescription {
      width: 90%;
      font-size: 2.5rem;
      text-align: center;
      margin: 0 auto;
    }
  
    .containerTerciary {
      display: none;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: auto;
      gap: 0vh;
      margin-bottom: 5em;
    }
  
    .containerTerciary .textDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      font-size: 2rem;
      text-align: left;
      margin: 0 auto;
    }
  
    .equipeContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      margin-bottom: 0em;
    }

    .equipeContainer {
      display: flex;
      width: 98%;
      height: 125vh;
      justify-content: center;
      align-items: center;
    }
  
    .containerDesenvolvedores .titulodesenvolvedores{
      font-size: 2.5em;
      text-align: center;
    }
  
    .containerNossoTime .tituloNossoTime {
      margin-top: 2.5em;
      margin-bottom: 0em;
    }

    .equipeContainer .containerDesenvolvedores .titulodesenvolvedores {
      margin-top: 2em;
    }
  
    .descDesenvolvedores {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 95%;
      padding: 0;
      margin: 0;
    }
  
    .descDesenvolvedores .textDescription {
      font-size: 2.5rem;
      text-align: center;
    }
  
    .imgEquipe {
      width: 90vw;
      height: auto;
    }
  
    .containerNossoTime {
      justify-content: space-between;
      height: 750vh;
      margin-bottom: 20vh;
    }
  
    .containerCardMembroTime {
      flex-direction: column;
      height: 400vh;
      margin-bottom: 1rem;
      width: 100%;
    }
  
    .tituloNossoTime {
      font-size: 3rem;
      text-align: center;
    }

  }
}



/*Medidas para dispositivos médios para grandes, com largura entre 391px 430px (Galaxy Note 20; Google Pixel 8; iPhone XR 2018; Iphone 11; iPhone 11 Pro Max; iPhone 12 Pro Max, iPhone 13 Pro Max, iPhone 14 Plus, iPhone 14 Pro Max, Iphone 15, Iphone 15 Plus, Iphone 15 PRO, Iphone 15 PRO MAX, iPhone 16, Iphone 16 Plus, iPhone 16 PRO, iPhone 16 PRO MAX)*/

@media only screen and (min-width: 389px) {
  @media only screen and (max-width: 440px) {
    .containerPrimary {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 0vh;
      height: auto;
      margin-top: 5vh;
      margin-bottom: 20vh;
    }

    .containerSecondary,
    .containerTerciary {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1vh;
      height: 10vh;
    }


    .ContainerTitleSobre {
      width: 95%;
      bottom: 0;
      text-align: center;
      gap: 1.5rem;
    }

    .ContainerTitleSobre p {
      font-size: 1.8rem;
    }

    .titulosSection {
      font-size: 3rem;
    }

    .images {
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50vh;
    }

    .elipseBlur {
      display: none;
    }

    .images .ImageGlass {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      bottom: 50%;
      padding-left: 1vh;
    }


    .containerSecondary {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }

    .containerSecondary .textDescription {
      width: 90%;
      font-size: 2.5rem;
      text-align: center;
      margin: 0 auto;
    }

    .containerTerciary {
      display: none;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: auto;
      gap: 0vh;
      margin-bottom: 10vh;
    }

    .containerTerciary .textDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      font-size: 2rem;
      text-align: left;
      margin: 0 auto;
    }

    .equipeContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 130vh;
      margin-bottom: 20vh;
    }

    .titulodesenvolvedores {
      font-size: 0.9rem;
      text-align: center;
    }

    .descDesenvolvedores {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 95%;
    }

    .descDesenvolvedores .textDescription {
      font-size: 2.5rem;
      text-align: center;
    }

    .imgEquipe {
      width: 90vw;
      height: auto;
    }

    .containerNossoTime {
      justify-content: space-between;
      height: auto;
      gap: 2vh;
      margin-bottom: 10vh;
    }

    .containerNossoTime {
      justify-content: space-between;
      height: 670vh;
      margin-bottom: 20vh;
    }
  
    .containerCardMembroTime {
      flex-direction: column;
      height: 350vh;
      margin-bottom: 1rem;
      width: 100%;
      gap: 35vh;
    }

    
  }
}



/*Medidas para Tablets: */
@media only screen and (min-width: 441px) {
  @media only screen and (max-width: 800px) {
    .containerPrimary {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0vh;
      height: auto;
      margin-top: 40vh;
      margin-bottom: 20vh;
    }

    .containerSecondary,
    .containerTerciary {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1vh;
      height: 10vh;
    }


    .ContainerTitleSobre {
      width: 95%;
      bottom: 0;
      text-align: center;
      gap: 1.5rem;
    }

    .ContainerTitleSobre p {
      font-size: 1.8rem;
    }

    .titulosSection {
      font-size: 3rem;
    }

    .images {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50vh;
    }

    .elipseBlur {
      display: none;
    }

    .images .ImageGlass {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      bottom: 50%;
      padding-left: 1vh;
    }


    .containerSecondary {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }

    .containerSecondary .textDescription {
      width: 90%;
      font-size: 2.5rem;
      text-align: center;
      margin: 0 auto;
    }

    .containerTerciary {
      display: none;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: auto;
      gap: 0vh;
      margin-bottom: 10vh;
    }

    .containerTerciary .textDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      font-size: 2rem;
      text-align: left;
      margin: 0 auto;
    }

    .equipeContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 130vh;
      margin-bottom: 20vh;
    }

    .titulodesenvolvedores {
      font-size: 0.9rem;
      text-align: center;
    }

    .descDesenvolvedores {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 95%;
    }

    .descDesenvolvedores .textDescription {
      font-size: 2.5rem;
      text-align: center;
    }

    .imgEquipe {
      width: 90vw;
      height: auto;
    }

    .containerNossoTime {
      justify-content: space-between;
      height: auto;
      gap: 10vh;
      margin-bottom: 10vh;
    }

    .containerNossoTime {
      justify-content: space-between;
      height: 670vh;
      margin-bottom: 20vh;
    }
  
    .containerCardMembroTime {
      flex-direction: column;
      height: 350vh;
      margin-bottom: 1rem;
      width: 100%;
      gap: 35vh;
    }
  }
}

/*Medidas para Tablets: */
@media only screen and (min-width: 801px) {
  @media only screen and (max-width: 930px) {
    .containerPrimary {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0vh;
      height: auto;
      margin-top: 40vh;
      margin-bottom: 20vh;
    }

    .containerSecondary,
    .containerTerciary {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1vh;
      height: 10vh;
    }


    .ContainerTitleSobre {
      width: 95%;
      bottom: 0;
      text-align: center;
      gap: 1.5rem;
    }

    .ContainerTitleSobre p {
      font-size: 1.8rem;
    }

    .titulosSection {
      font-size: 3rem;
    }

    .images {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50vh;
    }

    .elipseBlur {
      display: none;
    }

    .images .ImageGlass {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      bottom: 50%;
      padding-left: 1vh;
    }


    .containerSecondary {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }

    .containerSecondary .textDescription {
      width: 90%;
      font-size: 2.5rem;
      text-align: center;
      margin: 0 auto;
    }

    .containerTerciary {
      display: none;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: auto;
      gap: 0vh;
      margin-bottom: 10vh;
    }

    .containerTerciary .textDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      font-size: 2rem;
      text-align: left;
      margin: 0 auto;
    }

    .equipeContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 130vh;
      margin-bottom: 20vh;
    }

    .titulodesenvolvedores {
      font-size: 0.9rem;
      text-align: center;
    }

    .descDesenvolvedores {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 95%;
    }

    .descDesenvolvedores .textDescription {
      font-size: 2.5rem;
      text-align: center;
    }

    .imgEquipe {
      width: 90vw;
      height: auto;
    }

    .containerNossoTime {
      justify-content: space-between;
      height: auto;
      gap: 10vh;
      margin-bottom: 10vh;
    }

    .containerCardMembroTime {
      flex-direction: column;
      height: auto;
      margin-bottom: 3rem;
      width: 100%;
      gap: 15vh;
    }

    .tituloNossoTime {
      font-size: 3rem;
      text-align: center;
    }
  }
}




/* @media screen and (max-width: 968px){
  .containerPrimary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0vh;
    height: auto;
    margin-top: 40vh;
    margin-bottom: 20vh;
  }

  .containerSecondary, .containerTerciary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 10vh;
  }


  .ContainerTitleSobre {
    width: 95%;
    bottom: 0;
    text-align: center;
    gap: 1.5rem;
  }

  .ContainerTitleSobre p {
    font-size: 1.8rem;
  }

  .titulosSection {
    font-size: 3rem;
  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
  }

  .elipseBlur {
    display: none;
  }

  .images .ImageGlass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    bottom: 50%;
    padding-left: 1vh;
  }


  .containerSecondary {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .containerSecondary .textDescription {
    width: 90%;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto; 
  }

  .containerTerciary {
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: auto;
    gap: 0vh;
    margin-bottom: 10vh;
  }
  
  .containerTerciary .textDescription {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 80%; 
    font-size: 2rem;
    text-align: left; 
    margin: 0 auto;
  }

  .equipeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130vh;
    margin-bottom: 20vh;
  }

  .titulodesenvolvedores{
    font-size: 0.9rem;
    text-align: center;
  }

  .descDesenvolvedores {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

  .descDesenvolvedores .textDescription {
    font-size: 2.5rem;
    text-align: center;
  }

  .imgEquipe {
    width: 90vw;
    height: auto;
  }

  .containerNossoTime{
    justify-content: space-between;
    height: auto;
    gap: 10vh;
    margin-bottom: 10vh;
  }

  .containerCardMembroTime {
    flex-direction: column;
    height: auto;
    margin-bottom: 3rem;
    width: 100%;
    gap: 15vh;
  }

  .tituloNossoTime {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .containerPrimary {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0vh;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 20vh;
  }

  .containerSecondary, .containerTerciary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 10vh;
  }


  .ContainerTitleSobre {
    width: 95%;
    bottom: 0;
    text-align: center;
    gap: 1.5rem;
  }

  .ContainerTitleSobre p {
    font-size: 1.8rem;
  }

  .titulosSection {
    font-size: 3rem;
  }

  .images {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
  }

  .elipseBlur {
    display: none;
  }

  .images .ImageGlass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    bottom: 50%;
    padding-left: 1vh;
  }


  .containerSecondary {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .containerSecondary .textDescription {
    width: 90%;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto; 
  }

  .containerTerciary {
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: auto;
    gap: 0vh;
    margin-bottom: 10vh;
  }
  
  .containerTerciary .textDescription {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 80%; 
    font-size: 2rem;
    text-align: left; 
    margin: 0 auto;
  }

  .equipeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130vh;
    margin-bottom: 20vh;
  }

  .titulodesenvolvedores{
    font-size: 0.9rem;
    text-align: center;
  }

  .descDesenvolvedores {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

  .descDesenvolvedores .textDescription {
    font-size: 2.5rem;
    text-align: center;
  }

  .imgEquipe {
    width: 90vw;
    height: auto;
  }

  .containerNossoTime{
    justify-content: space-between;
    height: auto;
    gap: 10vh;
    margin-bottom: 10vh;
  }

  .containerCardMembroTime {
    flex-direction: column;
    height: auto;
    margin-bottom: 3rem;
    width: 100%;
    gap: 15vh;
  }

  .tituloNossoTime {
    font-size: 3rem;
    text-align: center;
  }
} */