* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.containerPrimary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120vh;
  padding-top: 10vh;
}

.images {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images .elipseBlur {
  width: 50vw;
  height: 100vh;
  position: relative;
  top: 85vh;
  z-index: 1;
  right: 2rem;
}

.images .ImageGlass {
  position: relative;
  width: 95%;
  object-fit: cover;
  height: 85vh;
  bottom: 70%;
}

.ContainerTitleSobre {
  width: 55%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  bottom: 12%;
}

.titulosSection {
  color: #fff;
  font-size: 3.8rem;
}

.titulosSection span {
  color: #a55aff;
}

.ContainerTitleSobre p {
  width: 100%;
  color: #fff;
  font-size: 2.8rem;
}

.ContainerTitleSobre .subtitle {
  color: #66c2fa;
}

.containerSecondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120vh;
}

.iphone {
  width: 50vw;
  object-fit: contain;
  height: 120vh;
  position: relative;
  top: 5%;
  z-index: 1;
}

.containerSecondary .textDescription {
  width: 60%;
  position: relative;
  font-size: 3.8rem;
  color: #fff;
  right: 8rem;
  z-index: 2;
}

.containerTerciary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150vh;
}

.containerTerciary .textDescription {
  width: 60%;
  left: 10%;
  position: relative;
  font-size: 3.8rem;
  color: #fff;
  z-index: 3;
}

.equipeContainer {
  display: flex;
  width: 98%;
  height: 125vh;
  justify-content: center;
  align-items: center;
}

.imgEquipe {
  width: 70vw;
  object-fit: contain;
  height: 75vh;
  position: relative;
  top: 4%;
}

.containerDesenvolvedores {
  height: 80vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.containerDesenvolvedores .titulodesenvolvedores {
  position: relative;
  font-size: 3rem;
  color: #a55aff;
}

.descDesenvolvedores {
  width: 50%;
  height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descDesenvolvedores .textDescription {
  color: #fff;
  font-size: 3.5rem;
  width: 100%;
  margin-top: 2.5em;
}

.containerNossoTime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200vh;
}

.containerCardMembroTime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140vh;
}

.tituloNossoTime {
  position: relative;
  font-size: 3.5rem;
  color: #a55aff;
}

@media screen and (max-width: 968px){
  .containerPrimary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0vh;
    height: auto;
    margin-top: 40vh;
    margin-bottom: 20vh;
  }

  .containerSecondary, .containerTerciary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 10vh;
  }


  .ContainerTitleSobre {
    width: 95%;
    bottom: 0;
    text-align: center;
    gap: 1.5rem;
  }

  .ContainerTitleSobre p {
    font-size: 1.8rem;
  }

  .titulosSection {
    font-size: 3rem;
  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
  }

  .elipseBlur {
    display: none;
  }

  .images .ImageGlass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    bottom: 50%;
    padding-left: 1vh;
  }


  .containerSecondary {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .containerSecondary .textDescription {
    width: 90%;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto; 
  }

  .containerTerciary {
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: auto;
    gap: 0vh;
    margin-bottom: 10vh;
  }
  
  .containerTerciary .textDescription {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 80%; 
    font-size: 2rem;
    text-align: left; 
    margin: 0 auto;
  }

  .equipeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130vh;
    margin-bottom: 20vh;
  }

  .titulodesenvolvedores{
    font-size: 0.9rem;
    text-align: center;
  }

  .descDesenvolvedores {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

  .descDesenvolvedores .textDescription {
    font-size: 2.5rem;
    text-align: center;
  }

  .imgEquipe {
    width: 90vw;
    height: auto;
  }

  .containerNossoTime{
    justify-content: space-between;
    height: auto;
    gap: 10vh;
    margin-bottom: 10vh;
  }

  .containerCardMembroTime {
    flex-direction: column;
    height: auto;
    margin-bottom: 3rem;
    width: 100%;
    gap: 15vh;
  }

  .tituloNossoTime {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .containerPrimary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0vh;
    height: auto;
    margin-top: 30vh;
    margin-bottom: 20vh;
  }

  .containerSecondary, .containerTerciary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 10vh;
  }


  .ContainerTitleSobre {
    width: 95%;
    bottom: 0;
    text-align: center;
    gap: 1.5rem;
  }

  .ContainerTitleSobre p {
    font-size: 1.8rem;
  }

  .titulosSection {
    font-size: 3rem;
  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
  }

  .elipseBlur {
    display: none;
  }

  .images .ImageGlass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    bottom: 50%;
    padding-left: 1vh;
  }


  .containerSecondary {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .containerSecondary .textDescription {
    width: 90%;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto; 
  }

  .containerTerciary {
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: auto;
    gap: 0vh;
    margin-bottom: 10vh;
  }
  
  .containerTerciary .textDescription {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 80%; 
    font-size: 2rem;
    text-align: left; 
    margin: 0 auto;
  }

  .equipeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130vh;
    margin-bottom: 20vh;
  }

  .titulodesenvolvedores{
    font-size: 0.9rem;
    text-align: center;
  }

  .descDesenvolvedores {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

  .descDesenvolvedores .textDescription {
    font-size: 2.5rem;
    text-align: center;
  }

  .imgEquipe {
    width: 90vw;
    height: auto;
  }

  .containerNossoTime{
    justify-content: space-between;
    height: auto;
    gap: 10vh;
    margin-bottom: 10vh;
  }

  .containerCardMembroTime {
    flex-direction: column;
    height: auto;
    margin-bottom: 3rem;
    width: 100%;
    gap: 15vh;
  }

  .tituloNossoTime {
    font-size: 3rem;
    text-align: center;
  }
}
