.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background: none;
  padding: 1em;
  position: relative;
  z-index: 1;
}

.logoHeader {
  background-image: url(../../../assets/imgs/logokathoncompleta.png);
  width: 15em;
  height: 3em;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  position: relative;
}

.containerProfile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5vh;
  color: #fff;
  width: 15%;
  background: none;
  border-radius: 0px 0px 50px 0px;
}

.ProfileNav{
  border-radius: 25px;
  width: 52px;
  height: 51px;
}

.AdiconalButton{
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 1vh;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }

  .containerProfile {
    width: 100%;
    justify-content: space-around;
    gap: 2vw;
    margin-top: 2vh;
  }

  .ProfileNav {
    width: 10vw;
    height: 10vw;
  }

  .AdiconalButton {
    width: 10vw;
    height: 10vw;
  }
}

@media (max-width: 480px) {
  .containerProfile {
    width: 100%;
    flex-direction: column;
    gap: 1vw;
  }

  .ProfileNav {
    width: 9vw;
    height: 9vw;
  }

  .AdiconalButton {
    width: 9vw;
    height: 9vw;
  }
}