.tituloCadastroEscola {
    color: #fff;
    font-size: 5em;

    width: 40%;
    text-align: center;

}

.areaCardsBrancos {
    display: flex;
    border: 2px #fff solid;
    padding: 2em;
    justify-content: space-between;
    width: 60%;   
}