.footer {
  background-color: #000;
  color: #ccc;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  opacity: 70%;
  padding: 3em;
}

.footer li:hover {
  color: white;
  transform: scale(1.1);
}

.footer li {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer .cimaFooter {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.direitoFooter1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
}

.direitoFooter1 li {
  margin: 0.5em;
}

.footer .cimaFooter,
.baixoFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .esquerdoFooter p {
  font-size: 1.2em;
  width: 100%;
}

.footer .esquerdoFooter span {
  width: 100%;
  font-size: 1em;
}

.logoFooter {
  background-image: url(../../../assets/imgs/logokathoncompleta.png);
  width: 20em;
  height: 3em;
  background-repeat: no-repeat;
}

hr {
  color: #fff !important;
  width: 100%;
  border: 0.5px solid;
  background-color: #fff;
  margin-bottom: 1.5em;
}

.listLinkCollum2{
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titlesLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spanfooter{
  color: #ccc;
}

@media (max-width: 430px) {
   .footer {
    padding: 2em;
    flex-direction: column;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
  }

  .footer .cimaFooter, .footer .baixoFooter {
    flex-direction: column;
    align-items: center;
  }
  
  .direitoFooter1 {
    width: 100%;
    justify-content: space-around;
    margin-top: 1em;
  }


  
  .direitoFooter1 li {
    margin: 0.3em;
  }

  .baixoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

  }

  .baixoFooter .esquerdoFooter {
    text-align: center;
    margin-top: 1em;
  }

  .baixoFooter .direitoFooter {
    margin-top: 1em;
    flex-direction: column;
  }

/*
  .footer .esquerdoFooter p {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
  }

  .footer .esquerdoFooter span {
    font-size: 0.9em;
    text-align: center;
  }

  .logoFooter {
    width: 15em;
    height: 2.5em;
    background-size: contain;
  }

  .listLinkCollum2 {
    flex-direction: column;
    align-items: center;
  }

  li {
    justify-content: center;
    align-items: center;
  }

  .titlesLinks {
    align-items: center;
    text-align: center;
  }

  hr {
    width: 80%;
    margin-bottom: 1em;
  } */
}

@media only screen and (min-width: 431px) {
  @media only screen and (max-width: 930px) {
    .footer .esquerdoFooter p {
      font-size: 1em;
      width: 100%;
    }

    .direitoFooter1 {
      width: 45%;
    }

    .baixoFooter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

    }

    .baixoFooter .esquerdoFooter {
      text-align: center;
      margin-top: 1em;
    }

    .baixoFooter .direitoFooter {
      margin-top: 1em;
    }

    

    /* .footer {
      padding: 1.5em;
    }
  
    .footer .esquerdoFooter p {
      font-size: 1em;
    }
  
    .logoFooter {
      width: 20em;
      height: 4em;
    }
  
    .direitoFooter1 {
      width: 100%;
      flex-direction: row;
      align-items: center;
    }

    
    .direitoFooter1 li {
      margin: 0.2em;
    } */
  }
}
