.base {
  font-family: "DM Sans";
  width: auto;
  height: 40px;
  border-radius: 36px;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  transition: 0.5s;
  margin:0.3em;
  margin:0.3em;
  padding: 0.8em;
  display: flex;
  align-items: center;
}

.base:hover {
  transform:scale(1.1);
}

.roxo {
  background-color: #7400b7ff;
}

.azul {
  background-color: #314ce7ff;
}

.verdeAgua{
  background-color: #06F8FA;
  color: #000;
}


.roxoHome {
  background-color: #7400b7ff;
  font-size: 0.3em;
}

.azulHome {
  background-color: #314ce7ff;
  font-size: 0.3em;
}

.verdeAguaHome{
  background-color: #06F8FA;
  font-size: 0.3em;
  color: #000;
}

.roxoHacka {
  background-color: #7400b7ff;
  font-size: 0.6em;
}

.azulHacka {
  background-color: #314ce7ff;
  font-size: 0.6em;
}

.verdeAguaHacka {
  background-color: #06F8FA;
  font-size: 0.6em;
  color: #000;
}

.comunicacao{
  background-color: #314ce7ff;
  font-size: 27px;
  padding: 4%;
}

.ilustacao{
  background-color: #a367ebff;
  font-size: 27px;
  padding: 4%;
}

.desing{
  background-color: #7400b7ff;
  font-size: 27px;
  padding: 4%;
}

.pesquisa{
  background-color: #314ce7ff;
  font-size: 27px;
  padding: 4%;
}

.usuario{
  background-color: #7400b7ff;
  font-size: 27px;
  padding: 4%;
}

/*Medida Mobile*/
@media only screen and (max-width:430px) {
  .base {
    height: 1.5em;
    border-radius: 1em;
    font-size: 0.5em;
    padding: 1em;
    display: flex;
    align-items: center;
  }
}


/*Medida Tablet*/
@media only screen and (min-width:431px) {
  @media only screen and (max-width: 900px) {
      
  }
}