.bannerzinho {
  width: 60%; /*mudar para 70%*/
  margin-top: 50px;
}

.imgbanner {
  width: 100%;
  height: 100%;
}

@media (max-width: 450px) {
  .imgbanner {
    width: 100%;
  }
  .bannerzinho {
    width: 100%;
    height: 300px;
    margin-bottom: -70px;
  }
}
